<!doctype html>
<html lang="en" th:replace="~{manager/base::layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>this is home page</title>
</head>
<body>
<section>

    <div class="col-md-14">

        <div class="col">


            <div class="card shadow suraj   p-3">

                <h5 class="card-title">

                </h5>

                <div class="table-wrapper-scroll-y my-custom-scrollbar">

                    <table class="table table-bordered table-striped mb-0">
                        <thead class="bg-dark text-light ">
                        <tr class="text-center">
                            <th class="hide">Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th class="hide">Password</th>
                            <th>Phone</th>
                            <th>address</th>
                            <th>Orgname</th>
                            <th>C.person</th>
                            <th>Rupees</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" th:each="client:${clients}">
                            <th class="hide" th:text="${client.id}"/>
                            <th th:text="${client.name}"/>
                            <th th:text="${client.email}"/>
                            <th class="hide" th:text="${client.password}"/>
                            <td th:text="${client.phone}"/>
                            <td th:text="${client.address}"/>
                            <td th:text="${client.getOrgName}"/>
                            <td th:text="${client.contactperson}"/>
                            <td th:text="${client.rupees}"/>

                            <td>
                                <button class="btn btn-primary btn-sm" id="btn"
                                >View
                                </button>
                            </td>

                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>


</section>
</body>
</html>