<!doctype html>
<html lang="en" th:replace="~{admin/base::layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>

<body>
	<section>
		<div class="container">
						<div class="row">
				<div class="card " style="width: 18rem;">
					<div class="card-body">
						<h3 class="card-title text-center"><span>Nishant</span></h3>
						<h6>Role-<span>ROLE_MANAGER</span></h6>
						<h6>Handle tasks-<span>3</span></h6>


						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>

			</div>




		</div>
	</section>
</body>

</html>